<a href="https://colab.research.google.com/github/rahgadda/deeplearning/blob/main/01-python/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About Python**
* Python was conceived in the `late 1980s` by `Guido van Rossum` at `Centrum Wiskunde & Informatica (CWI)` in the `Netherlands`. 
* Python is an `Interpreter` language.
* Python is `dynamically-typed`. The type for a value is decided at runtime, not in advance.
* Python is `strongly typed`. Each variable have a type and the type matters when performing operations on a variables. 
* Python uses `indentation to define block`.
* Unless an `encoding` format is specified, Python source code is `ASCII` by default.
* Python supports `functional`, `imperative`, and `object-oriented` approaches to programming.

</br></br>

*First Program `Hello, World!`*

In [ ]:
print("Hello World")

Hello World

**1. Keywords**

The following identifiers are used as reserved words or keywords.   
These cannot be used as ordinary identifiers.   
They must be spelled exactly as written here.

![image.png]()

**2. Comments**
* Single Line Comments can be created using `#`
* For Multiple Line Comments there is no support from Python. 
  - We can use these as python interpreter ignores these `"""` or `'''`

In [ ]:
# Single line comments

"""

Multi line comment

"""

'''

Multi line comment

'''

'\n\nMulti line comment\n\n'

**3. Variables**

* A variable is a named location used to store data in the memory.
* In Python, values are not assigned to variables. It gives the reference of the object(value) to the variable.
* **Naming Conventsion**
  - Variable names should have a combination of letters in lowercase `(a to z)` or uppercase `(A to Z)` or digits `(0 to 9)` or an underscore `(_)`
  - A variable name must `start with a letter or the underscore` character.
  - Use `capital letters` possible to declare a `constant`.
  - Don't `start a variable name` with a `digit`.
  - Variable names are `case-sensitive`
  - Cannot use `Keywords`
  - All class names should be CamelCased
  - `id()` is used to return address details

**4. Data Types**

Python automatically determines data types of variables based on values.   
Python support below data types
* **Simple Data Type:**
  - `int` used to store for non decimal values.
  - `float` used to store decimal values.
  - `bool` used to store `True` or `False`.
  - `str` used to store Strings. These can be created using `""` or `''`
* **Collections:**
  - `list` is an ordered sequence of items. These are `mutable`. `[]`
  - `tuple` is same as a list. These are `immutable`. `()`
  - `set` is an unordered collection of unique items. Sets have `unique values`. `{}`
  - `dict` is an unordered collection of `key-value pairs`. `{'key':'value'}`
* **Type Conversion Function:**
  - `int(a, base)`base in which string is defined [decimal, octa, hexa]
  - `float()`
  - `ord()` convert a character to integer
  - `hex()`
  - `oct()`
  - `tuple()`
  - `set()`
  - `list()`
  - `dict()`
  - `str()`
  - `complex(real,imag)` converts real numbers to complex(real,imag) number
  - `chr(number)` converts number to its corresponding ASCII character.

</br>

Function `type()` is used to know which class a variable or a value belongs to.   
Function `isinstance()` is used to check if an object belongs to a particular class.

In [ ]:
# Simple DatTypes
x = "Hello World"
print(x," is of ", type(x), " datatype")
print(x," is str ", isinstance(x,str))

x = 20
print(x," is of ", type(x), " datatype")
print(x," is int ", isinstance(x,int))

x = 20.5
print(x," is of ", type(x), " datatype")
print(x," is float ", isinstance(x,float))

x = True
print(x," is of ", type(x), " datatype")
print(x," is bool ", isinstance(x,bool))

# Collection DatTypes
x = [5,10,15,20,25,30,35,40]
print(x," is of ", type(x), " datatype")
print(x," is list ", isinstance(x,list))

x = (5,10,15,20,25,30,35,40)
print(x," is of ", type(x), " datatype")
print(x," is tuple ", isinstance(x,tuple))

x = {5,10,15,20,25,30,35,40}
print(x," is of ", type(x), " datatype")
print(x," is set ", isinstance(x,set))

x = {"key1":5, "key2":10}
print(x," is of ", type(x), " datatype")
print(x," is dict ", isinstance(x,dict))

Hello World  is of  <class 'str'>  datatype
Hello World  is str  True
20  is of  <class 'int'>  datatype
20  is int  True
20.5  is of  <class 'float'>  datatype
20.5  is float  True
True  is of  <class 'bool'>  datatype
True  is bool  True
[5, 10, 15, 20, 25, 30, 35, 40]  is of  <class 'list'>  datatype
[5, 10, 15, 20, 25, 30, 35, 40]  is list  True
(5, 10, 15, 20, 25, 30, 35, 40)  is of  <class 'tuple'>  datatype
(5, 10, 15, 20, 25, 30, 35, 40)  is tuple  True
{35, 5, 40, 10, 15, 20, 25, 30}  is of  <class 'set'>  datatype
{35, 5, 40, 10, 15, 20, 25, 30}  is set  True
{'key1': 5, 'key2': 10}  is of  <class 'dict'>  datatype
{'key1': 5, 'key2': 10}  is dict  True

**5. Operators**

* Operators in python are categorized into below
  * Arithmetic [+, - , *, /, %, **, //]
  * Relational [<, >, >= ,<=, ==, !=]
  * Assignment [= , +=, -= , *=, /=, %=, **=, //=]
  * Logical    [and, or, not]
  * Membership [in, not in]
  * Identity   [is, is not]
  * Bitwise    [&, !, ^, ~, <<, >>]

**6. Control Flow**

Python supports three types of control flows
* `if elif else` used to perform conditional actions
* `while` used to iterate over a block of code as long as the test expression is `True`
* `for` used to iterate over a sequence (list, tuple, string) or other iterable objects

Python also below statements to comprihend control flows
* `break` terminates the loop containing it
* `continue` skip the rest of the code inside a loop
* `pass` used to construct a body that does nothing

In [ ]:
# If Statement
num = -1
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

# While Loop
while (num <0):
  print("Still Negative number")
  num += 1

# For Loop
num = range(11)
print("Update Num ", num)
for i in num:
  print("Invidiual Values ", i)

Negative number
Still Negative number
Update Num  range(0, 11)
Invidiual Values  0
Invidiual Values  1
Invidiual Values  2
Invidiual Values  3
Invidiual Values  4
Invidiual Values  5
Invidiual Values  6
Invidiual Values  7
Invidiual Values  8
Invidiual Values  9
Invidiual Values  10

**7. Functions**

* `def` keyword is used to create function.
  * Varaibles decalred in function are local scoped
  * `global` keyword should be used to update global variables
  * `return` statement is used to send response.
  * `*args` can be used to pass a varying number of positional arguments.
  * `**kwargs`  can be used to pass a varying number of keyword arguments.
* `lambda` are anonymous/nameless functions.
  * These can have any number of arguments but only one expression.

In [ ]:
def my_sum(*args):
  result = 0
  for i in args:
    result = i + result
  
  return result
print(my_sum(1,2,3,4,5,6,7))

def my_concat(**kwargs):
  result = ""
  for i in kwargs.values():
    result = result + i
  
  return result
print(my_concat(a="Really ", b="Python ", c="Is ", d="Great", e="!"))

(lambda x, y: x + y)(2, 3)

28
Really Python Is Great!

5

**8. Classes & Objects**

* Python also supports `object oriented programming language`.
* The `class` keyword is used to create a class
* Object are creating using name of the class followed by `()`
* A `__init__(self)` function is always executed when the class is being initiated. This acts like a constructor to initialize values.
* A class can be inherited into another by adding parent class in child definition.
* The method `super()` is used to invoke parent method from child
* The `self` variable is used to access object variables inside a class.
* The `del` keyword is used to delete properties on objects.
* Class variables are used to define `static` values that are common across all objects.

In [50]:
class Person:
  msg = "Welcome Message"
  def __init__(self):
    self.person ={
      "name":"UNDEFINED",
      "age": 0      
     }

  def listDetails(self):
    print(Person.msg)
    print(self.person)

person = Person()

class Teacher(Person):
  def __init__(self,name, age, subject):
    Person.__init__(self)
    self.person["name"]=name
    self.person["age"]=age
    self.person["subject"]=subject

teacher = Teacher("Pooja",30, "Python")

class Student(Person):
  def __init__(self, name, age, group):
    super().__init__()
    self.person["name"]=name
    self.person["age"]=age
    self.person["group"]=group

rahul = Student("Rahul",35, "Computers")

person.listDetails()
teacher.listDetails()
rahul.listDetails()
del rahul.person
person.listDetails()
rahul.listDetails()

Welcome Message
{'name': 'UNDEFINED', 'age': 0}
Welcome Message
{'name': 'Pooja', 'age': 30, 'subject': 'Python'}
Welcome Message
{'name': 'Rahul', 'age': 35, 'group': 'Computers'}
Welcome Message
{'name': 'UNDEFINED', 'age': 0}
Welcome Message

AttributeError: ignored

**9. Exception Handling**

* Exceptions are handled using `try`, `except` & `finally`
* `raise` is used to manually raise exceptionsimport sys
* Custom expcetion can be by extending `Exception` class

In [ ]:
# import module sys to get the type of exception
import sys

class RahulError(Exception):
  def __init__(self, message):
    self.message=message;

try:
  a=7/0
except ZeroDivisionError as e:
  print("Oops!", e.__class__, "occurred.")
  print("Oops!", sys.exc_info()[0], "occurred.")
finally:
  print("Finally block")

try:
  raise RahulError("This is my Custom Error")
except Exception as e:
  print(e)

Oops! <class 'ZeroDivisionError'> occurred.
Oops! <class 'ZeroDivisionError'> occurred.
Finally block
This is my Custom Error

**10. Modules**

* Moduels are used to create libraries
* These are loaded using `import` statement
* They can be re-named using `as` keyword
* A built-in function `dir()` can be used to list all the variable/function names
* The keyeword `from` can be used to import only parts from a module

In [11]:
!pwd
!cd "/content/drive/MyDrive/Colab Notebooks"

import sys
sys.path.append('/content/drive/MyDrive/Colab Notebooks')

import mylib
import mylib as lib
from mylib import person as ps
mylib.printName()
lib.printName()
print(dir(lib))
print(ps)

sys.path.append('/content/')
!cd /content/

/content
Rahul
Rahul
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'person', 'printName']
{'name': 'Rahul', 'age': 36, 'country': 'India'}

**X.**

* `Unpacking`
* `map()`
* `filter()`